.wrapper{
  margin-top: -33px;
  padding-bottom: 30px;
  display: flex;
  justify-content: end;

}

.button{
  min-height: 50px;
  min-width: 200px;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: white;

}
.button:focus{
  background-color: #2196f3;
}