body{
  margin: 0;
  background-color: #E5E5E5;
}

.wrapper{
  width: 1440px;
  height: 100%;
  margin: 0;
}

.spin{
  margin-top: -30px;
}

.img{
  margin-top: 20px;
  height: 110px;
  display: flex;
  justify-content: center;
}

.loader{
  display: none;
  padding: 0;
  margin: auto;
  width: 300px;
}