.wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin-left: 300px;
  margin-top: -220px;

}

.wrapper__tickets-list {
  background-color: white;

  width: 602px;
  min-height: 184px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px 3px rgba(34, 60, 80, 0.2);
}

